*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(218, 229, 240);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.highlight{
    width: 60px;
    height: 3px;
    background-color: gold;
    margin-top: 5px;
    margin-left: 8px;
}
h1{
    color: rgb(5, 11, 61);
}
img{
    width: 150px;
    border: 4px solid gold ;
    border-radius: 4px;
}
.links{
display: flex;
gap: 60px;
margin-top: 40px;
list-style-type: none;
color: rgb(226, 193, 7);
}
.card{
    display: flex;
    width: 430px;
    margin-bottom: 50px;
}
.card_detail{
    margin-left: 20px;
}
.title{
    font-weight: 600;
}
.hr{
   width:228px;
   height: 1.5px;
   margin-top: 4px;
   margin-bottom: 15px;
   background-color: grey;

}

p{
    color: grey;
    line-height: 20px;
}
.price{
    margin-left: 40px;
    color: rgb(199, 171, 7);
}


.card-container{
margin-top: 40px;
width: 80vw;
margin-inline: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
li{
    cursor: pointer;
}
.hg{
    border-bottom: 2px solid rgb(215, 185, 14);
}